.sortable-container{ width: 100%; display: block; height: auto; }
.sortable-count{ width: 20px; height: 20px; display: block; float: left;}
.ui-state-default a{ float: right; }
.sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
.sortable li { cursor: pointer; background: #eee; border: 1px solid #ddd; margin: 0 3px 3px 3px; padding: 0.4em; padding: 10px; height: 18px; }
.sortable li:active{ color: blue; }
.acf-save-order{ display: block; width: 100%; margin: 2rem 0; }
.acf-save-order span{ color: navy; display: inline-block; width: 79%; font-weight: bold;}
.acf-save-order .acf-save-order-button{ display: inline-block; width: 20%;}