// HELPER - CONFIG
// Document and Grid setup
// Font default declarations

// Base Units

$base_unit: 		0.625rem;	//same as desktop font base
$vertical_unit:		1.3rem;

// Grid settings (SUSY)
// Susy vars don't follow underscore rules 

//$total-columns: 	6;  
$column-width: 		90%;  
$gutter-width: 		5%;  
$grid-padding: 		0;

//Column
$columns_mobile:	6;
$columns_tablet:	10;
$columns_desktop:	10;
$columns_bigscreen:	10;

//$media-layout: min-width mq | total columns | max-width mq | ie-fallback-class
$xs-mobile:			1px $columns_mobile 400px;

$mobile: 			401px $columns_mobile 767px;

$tablet: 			768px $columns_tablet 960px;

$tablet_up: 		768px $columns_tablet;

$desktop: 			961px $columns_desktop 1200px;

$desktop_up: 		961px $columns_desktop;

$bigscreen: 		1201px $columns_bigscreen;

// Font Stack

$heading_font: 		helvetica, arial, sans-serif;
$body_font: 		$heading_font;

// Typographic units (golden ratioish shizzle)

$paragraph_size:	0.85; 
$h1_size:			1.2;  
$h2_size:			1.1;  
$h3_size:			1;  
$h4_size:			0.9;  

// Wrapper width

//$wrapper_width_desktop:

// Box sizing
$border_box: 		true;