// HELPER - COLOUR

// Core design/ brand colours are defined here
// Default Link Colours are also defined here

$blue:					#03a7ff;
$red:					#ed1c24;
$gray:					#3A3938;
$white:					#ffffff;
$background:			#2c2a2b;
$black: 				#1b1b1b;

// Links / Anchors

$link: 					$white;
$link_hover: 			$white;
$link_visited: 			$white;

// Element Colours / Gradients

$homepage_news: 		#7D7E80;
$light_gray:			$homepage_news;

// Carousel red

$carousel_red:			$red;
$carousel_mobile_hover:	#D51C24;
$carousel_disabled:		#4A4847;
$carousel_grey:			$homepage_news;