// MIXINS
// 
// All global Mixins go here

// Clearfix
// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/

@mixin clearfix() {
	*zoom:1;
	&:before, &:after {
	    content:"";
	    display:table;
	}
	&:after { clear:both; }
}

// Font size/line height mixin using 'rem' -a non cascading modular unit of measurement
// Responsive typography implemented


@mixin font-size($size:1){
	font-size: $size * 16px;
	font-size: $size + rem;
}

@mixin line-height($lh:$vr_mobile,$multiplier:1){
	line-height: $multiplier * $lh * 10px;
	line-height: $multiplier * $lh + rem;
}

// margins with vertical rhythm

@mixin vr($element,$line_height,$multiplier){
	#{$element}: $multiplier * $line_height * 10px;
	#{$element}: $multiplier * $line_height + rem;
}
