// PRELOADER

.loading{
	div{
		visibility: hidden;
	}
	min-height: 100px;

	background: url('images/loader.gif') $background no-repeat center center !important;
}
// CAROUSEL

.products-carousel-container{
	width: 100%;
	z-index: 9001;
	margin-top: $vertical_unit;
	position: relative;
	display: table;
	background-color: $background;
}

	.products-carousel-container ul{
		margin: 0;
		list-style-type: none;
	}

	.gte-ie9 .products-carousel-container .flex-viewport{
		@include at-breakpoint($xs-mobile){
			margin-top: $vertical_unit*3;
		}
		@include at-breakpoint($mobile){
			margin-top: $vertical_unit*3;
		}
	}


.product-carousel__thumb{
	display: block;
	vertical-align: middle;
	background: $gray;
	position: relative;
	//z-index: 10001;
	margin-bottom: 5px;
	overflow: hidden;
	@include clearfix();
	a{ display: block; }
}

//	Static styles for IE	
.lt-ie9 .product-carousel__thumb{ @include span-columns(2,10); }
.lt-ie9 .product-carousel__thumb--d-last{ @include span-columns(2 omega, 10); }

	.gte-ie9 .product-carousel__thumb{
		@include at-breakpoint($xs-mobile){
			@include span-columns(6, 12);
		}
		@include at-breakpoint($mobile){
			@include span-columns(4, 12);
		}
		@include at-breakpoint($tablet_up){
			@include span-columns(2, 10);
		}
	}
		.gte-ie9 .product-carousel__thumb--m-last{
			@include at-breakpoint($mobile){
				@include span-columns(4 omega,12);
			}
		}

		.gte-ie9 .product-carousel__thumb--xs-m-last{
			@include at-breakpoint($xs-mobile){
				@include span-columns(6 omega,12);
			}
		}
	
		.gte-ie9 .product-carousel__thumb--d-last{
			@include at-breakpoint($tablet_up){
				@include span-columns(2 omega, 10);
			}
		}

.product-carousel__thumb a img{
	height: auto;
	vertical-align: middle;
	@include at-breakpoint($mobile){
		margin-bottom: $vertical_unit;
	}
}



	.product-carousel__thumb-caption{
		width: 100%;
		color: #fff;
		background: $black;
		display: block;
		vertical-align: baseline;
		padding: 3px $vertical_unit/2;
		line-height: normal;
		position: absolute;
		bottom:0;
		left:0;

		@include at-breakpoint($xs-mobile){
			font-size: 0.7rem;
		}

		@include at-breakpoint($mobile){
			font-size: 0.7rem;
		}

		@include at-breakpoint($tablet_up){
			font-size: 0.9rem;
			font-weight: bold;
			position: absolute;
		}	
	}


.product-slider__nav{
	display: none;
	@include at-breakpoint($tablet_up){
		display: block;
		position: absolute;
		top: 100px;
		width: 100%;
		@include clearfix();
		z-index: 10000;

	}
}

.flex-direction-nav{
	z-index: -1;
	display: block;
	width: 100%;
	position: absolute;
	top: 0;
	a{
		position: absolute;
		display: block;
		font-size: 0;
		line-height: 0;
	}
}

	.lt-ie9 .flex-direction-nav{
		a{
			width: 40px;
			height: 103px;	
		}
		top:37%;
	}
	
	.gte-ie9 .flex-direction-nav{
		@include at-breakpoint($xs-mobile){
			height: 50px;
			li{
				background: url('images/scrollright-mobile-disabled.png') $carousel_disabled center no-repeat;
				background-size: 20%;
				position: relative;
				display: inline-block;
				height: 50px;
				width: 48%;
			}

			li:first-child{ 
				margin-right: 2%; 
				background: url('images/scrollleft-mobile-disabled.png') $carousel_disabled center no-repeat;
				background-size: 20%;
			}

			a{
				height: 50px;
				width: 100%;
			}
		}
		@include at-breakpoint($mobile){
			height: 50px;
			li{
				background: url('images/scrollright-mobile-disabled.png') $carousel_disabled center no-repeat;
				background-size: 20%;
				position: relative;
				display: inline-block;
				height: 50px;
				width: 48%;
			}

			li:first-child{ 
				margin-right: 2%; 
				background: url('images/scrollleft-mobile-disabled.png') $carousel_disabled center no-repeat;
				background-size: 20%;
			}

			a{
				height: 50px;
				width: 100%;
			}
		}
		@include at-breakpoint($tablet_up){
			a{
				width: 40px;
				height: 103px;	
			}
		}
		@include at-breakpoint($tablet){
			top: 31%;
		}
		@include at-breakpoint($desktop){
			top:34%;
		}
		@include at-breakpoint($bigscreen){
			top:37%;
		}
	}

	a.flex-disabled{
		visibility: hidden;
	}

	a.flex-prev{
		top: 0;
		left: 0;
		@include at-breakpoint($xs-mobile){
			background: url("images/scrollleft-mobile.png") $carousel_red center no-repeat;
			background-size: 20%;
		}
		@include at-breakpoint($mobile){
			background: url("images/scrollleft-mobile.png") $carousel_red center no-repeat;
			background-size: 20%;
		}
		background: url("images/scrollleft.png") $carousel_red center no-repeat;
		margin-left: 0;
		@include at-breakpoint($tablet_up){
			margin-left:-40px;
		}

		&:hover{
			@include at-breakpoint($xs-mobile){
				background: url("images/scrollleft-mobile.png") $carousel_mobile_hover center no-repeat;
				background-size: 20%;
			}
			@include at-breakpoint($mobile){
				background: url("images/scrollleft-mobile.png") $carousel_mobile_hover center no-repeat;
				background-size: 20%;
			}
			background: url("images/scrollleft-hover.png") $carousel_grey center no-repeat;
		}
	}

	a.flex-next{
		top: 0;
		right: 0;
		@include at-breakpoint($xs-mobile){
			background: url("images/scrollright-mobile.png") $carousel_red center no-repeat;
			background-size: 20%;
		}
		@include at-breakpoint($mobile){
			background: url("images/scrollright-mobile.png") $carousel_red center no-repeat;
			background-size: 20%;
		}
		background: url("images/scrollright.png") $carousel_red center no-repeat;
		margin-right: 0;
		@include at-breakpoint($tablet_up){
			margin-right:-40px;
		}
		&:hover{
			@include at-breakpoint($xs-mobile){
				background: url("images/scrollright-mobile.png") $carousel_mobile_hover center no-repeat;
				background-size: 20%;
			}
			@include at-breakpoint($mobile){
				background: url("images/scrollright-mobile.png") $carousel_mobile_hover center no-repeat;
				background-size: 20%;
			}
			background: url("images/scrollright-hover.png") $carousel_grey center no-repeat;
		}
	}