/* -- _FOOTER.SCSS -- */

/*
 * Footer Styles go here
 */

.gt-ie8 .site-footer{
	@include at-breakpoint($xs-mobile){
		padding: $vertical_unit/2 0;
	}
	@include at-breakpoint($mobile){
		padding: $vertical_unit 0;
	}
	color: $white;
	@include clearfix();
}

.site-footer .wrapper{
	padding: 0 15px;
	p{ color: white; }
    @include at-breakpoint($tablet_up) {
        padding: 0 40px;
    }
}

.gt-ie8 .site-footer .wrapper p{
	@include at-breakpoint($xs-mobile){
		font-weight: bold;
		text-align: center;
		width: 50%;
		display: block;
		margin: 0 0 0 25%;
		padding: 0;
	}
	@include at-breakpoint($mobile){
		font-weight: bold;
		text-align: center;
		width: 50%;
		display: block;
		margin: 0 0 0 25%;
		padding: 0;
	}
}