/* -- _GLOBAL.SCSS -- */

/*
 * Document and Grid setup
 * Font default declarations
 */


// If $border-box is true then use box sizing border box
@if($border_box == true){
	*{ @include box-sizing(border-box); }
}

// Responsive Images

img{ max-width: 100%; }  

// html/body

html { 
	// The magic, it happens right here
	font-size: 100%;
	height: 100%;
	@include at-breakpoint($tablet){ font-size: 62.5%; } 
	@include at-breakpoint($desktop){ font-size: 75%; } 
	@include at-breakpoint($bigscreen){ font-size: 87.5%; } 
	line-height: $vertical_unit;
}

body {
	width: 100%;
	color: #3e3e3e;
	background: url('images/background.jpg') $background no-repeat top center;

	@include at-breakpoint($tablet){
		background: $background;
	}
	@include at-breakpoint($desktop){
		background-size: 2050px;
	}
	@include at-breakpoint($bigscreen){
		background-size: 2350px;
	}

	font-family: $body_font;
	-webkit-font-smoothing: antialiased;
	@include clearfix();
}

// width with defined width (not 100% of page)
.wrapper {
	//@include container($total-columns, $tablet, $desktop);
	min-width: 320px;
	width: 100%;
	@include at-breakpoint($tablet){ width: 768px; margin: 0 auto; }
	@include at-breakpoint($desktop_up){ width: 960px; margin: 0 auto;  }
	@include at-breakpoint($bigscreen){ width: 1080px; margin: 0 auto;  }

	@include clearfix();
}

// Class for hidden elements (Reveal on JS Document Ready)

.hidden{
	visibility: hidden;
}


.helper{
	display: inline-block;
    height: 100%;
    vertical-align: middle;
}

// jPanel Menu Background Image fix!!

.jPanelMenu-panel { background: inherit !important; }