/* -- _HEADER.SCSS -- */

/*
 * Header specific declarations
 * Note: navigation has its own document _navigation.scss
 */


.site-header{
	@include clearfix();
}

	.site-header__logo{
		display: block;
		margin: $vertical_unit/2 0;
		@include span-columns(2 ,6);
		
		@include at-breakpoint($tablet_up){ 
			@include span-columns(2 ,12); 
			margin: 0 0 $vertical_unit*2 0;
		}

		img{
			display: block;
			
		}

		@include clearfix();
	}

	.searchform{
		input{ color: $white; }
		@include span-columns(3 omega,6);
		visibility: hidden;
		@include at-breakpoint($tablet_up){ 
			visibility: visible;
			@include span-columns(3 omega,12); 
			margin: 0 0 $vertical_unit*2 0;
		}
	}