/* -- _HOME.SCSS -- */

/*
 * Homepage Specific Styles
 */


.content--index .inner{
	margin: 0 0 5px 0;
}

 .main-container{
 	@include at-breakpoint($tablet_up){
 		@include span-columns(10,10);
 		position: relative;
 	}
 }

.home-hero{
	position: relative;

	ul{
		list-style: none;
		margin: 0;
	}

	img{
		display: block;
	}
}

.catalogue-tab{
	@include at-breakpoint($xs-mobile){
		a{ width: 70%; }
	}
	@include at-breakpoint($tablet){
		a{ width: 65%; }
	}
	@include at-breakpoint($tablet_up){
		top: 0;
		bottom:0;
	}
	position: absolute;
	left:0;
	width: 50px;
	z-index: 1000;

	img{ vertical-align: middle; }
	a{ vertical-align: middle; display: inline-block; margin-left: -3px;}
}


.main__brief{
	background: $gray;
	padding: $vertical_unit;
	color: #fff;

	@include at-breakpoint($tablet){
		top: $vertical_unit*3;
		//@include span-columns(5 omega,10);
		width: 40%;
	}

	@include at-breakpoint($tablet_up){
		position: absolute;

		/* Opacity Support */
		/* default fallback */
		background: RGB(66, 64, 64);
		/* nice browsers */
		background: RGBA(66, 64, 64, 0.8);
		/* IE8 */    
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC424040, endColorstr=#CC424040)";

		right: $vertical_unit*2;
		z-index: 1;
		
		h1{ 
			color: #fff; 
			line-height: $vertical_unit;
		}
	}

	@include at-breakpoint($desktop_up){
		position: absolute;
		top: $vertical_unit*4;
		right: $vertical_unit*2;
		//@include span-columns(4 omega,10);
		width: 40%;
	}
	
	
}


.main__content--news{
	padding: $vertical_unit 0;
	@include span-columns(6 , 6);
	h2{ margin: 0; text-transform: uppercase; @include font-size(1.2); border-bottom: 1px dotted #fff; padding: 0;}
	p{ margin: 0; padding: 0; @include font-size(0.8); }

	@include at-breakpoint($tablet){ height: 499px; p{@include font-size(1);} }
	@include at-breakpoint($tablet_up){
		background-color: $homepage_news;
		@include span-columns(2,10);
		padding: $vertical_unit/2;
		p,h2,strong{ color: #fff; }
		.news__title{ font-weight:bold; margin: 0; padding: 0; @include font-size(0.7); line-height: 16px; }
	}
	@include at-breakpoint($desktop){ height: 358px; }
	@include at-breakpoint($desktop_up){
		.news__title{ font-weight:bold; margin: 0; padding: 0; @include font-size(0.8); line-height: 16px; }
	}
	@include at-breakpoint($bigscreen){ height: 396px; }
	@include clearfix();
}

.read-more{
	@include clearfix();
	font-weight: bold;
	color: black;
	&:hover,&:active, &:visited{
		color: black;
	}
	@include at-breakpoint($xs-mobile){
		color: $white;
		&:hover,&:active, &:visited{
			color: $white;
		}
	}
	@include at-breakpoint($mobile){
		color: $white;
		&:hover,&:active, &:visited{
			color: $white;
		}
	}
}

.news-stub{
	@include at-breakpoint($xs-mobile){
		color: $white;
		border-bottom: 1px dotted $white;
	}
	@include at-breakpoint($mobile){
		color: $white;
		border-bottom: 1px dotted $white;
	}
	padding-bottom: $vertical_unit/10;
	border-bottom: 1px dotted black;
	margin: $vertical_unit/2 0;

	&:nth-child(4n+1){
		border-bottom: none;
		padding-bottom: 0;
	}
}

.main__content--categories{
	@include span-columns(6 omega,6);

	@include at-breakpoint($tablet_up){
		@include span-columns(8 omega,10);
	}

	@include clearfix();
}


/**
 * cat-thumb
 * - The category thumbs on the Homepage
 * 
 * The *-last modifiers are used to end
 * rows at different breakpoints.
 * 
 * The .gte-ie9 class defines the mobile
 * breakpoint specifically for modern
 * browsers.
 */
	
.cat-thumb{
	/*float: left;*/
	position: relative;
	z-index: 10001;
	margin-bottom: 5px;
	background: $gray;
	img{width:100%;}

	overflow: hidden;
	a{ display: block; }
}

//	Static styles for IE	
.lt-ie9 .cat-thumb{ @include span-columns(3,12); }
.lt-ie9 .cat-thumb--d-last{ @include span-columns(3 omega, 12); }
	
	.gte-ie9 .cat-thumb{
		@include at-breakpoint($xs-mobile){
			@include span-columns(6, 12);
		}
		@include at-breakpoint($mobile){
			@include span-columns(4,12);
		}
		@include at-breakpoint($tablet){
			@include span-columns(4,12);
		}
		@include at-breakpoint($desktop_up){
			@include span-columns(3,12);
		}
	}

		.gte-ie9 .cat-thumb--d-last{
			@include at-breakpoint($desktop_up){
				@include span-columns(3 omega, 12);
			}
		}

		.gte-ie9 .cat-thumb-xs-m-last{
			@include at-breakpoint($xs-mobile){
				@include span-columns(6 omega, 12);
			}
		}

		.gte-ie9 .cat-thumb--m-last{
			@include at-breakpoint($mobile){
				@include span-columns(4 omega,12);
			}
			@include at-breakpoint($tablet){
				@include span-columns(4 omega,12);
			}
		}
	


	
.cat-thumb__caption{
	width: 100%;
	font-size: 0.9rem;
	color: #fff;
	background: $black;
	display: block;
	vertical-align: baseline;
	position: absolute;
	bottom:0;
	left:0;
	padding: 3px $vertical_unit/2;
	line-height: normal;
	@include at-breakpoint($xs-mobile){
		font-size: 0.7rem;
	}
	@include at-breakpoint($mobile){
		font-size: 0.7rem;
	}
	@include at-breakpoint($tablet_up){
		font-size: 0.9rem;
		font-weight: bold;
	}
}