/* -- _MOBILE-HEADER.SCSS -- */

/*
 * Style for a mobile header to contain menu button/ search etc
 */
	
	.mobile-header{
		background: #1b1b1b;
		@include at-breakpoint($tablet_up){  display: none; }
		@include clearfix();
	}

		.mobile-header__button{
			display: inline-block;
			border-right: 1px solid lighten(#1b1b1b,20%);
			@include font-size(1);
			font-family: $heading_font;
			line-height: $vertical_unit*2;
			padding: 0 $base_unit;
			color: #fff;
			&:visited{
				color: #fff;
			}
		}