/* -- _NAVIGATION.SCSS -- */

/*
 * All nav menu styles go here
 * Currently the Dropdown only supports 1 level
 * This can be extended by using the class .parent-x (where x is the depth).
 */

// Primary nav container
.primary-nav{

    display: none;
    background: $black;
    //margin-bottom:$vertical_unit; 
    position: relative;
	@include at-breakpoint($tablet_up){ display:block; @include span-columns(12 omega,12);}
}

	// the first ul
	.primary-nav__menu{
        list-style: none;
        @include clearfix();
        margin: 0;
        font-family: $heading_font;
        
        text-transform: uppercase;
        padding: 0 $vertical_unit;
    }

    // contact & link pages are floated right to match design spec
	.primary-nav__menu > .nav-float-right{
		@include at-breakpoint($bigscreen){
			@include push(1.7);
		}

	}
	
	// menu item
	.primary-nav__menu > .menu-item{ 
		float: left; 
	}

	// Products Parent

	// menu item link (block level element with padding + margin applied)
	.primary-nav__menu > .menu-item a{
    	display: inline-block;
    	color: #ccc;
    	padding: 0 $vertical_unit;
    	line-height: $vertical_unit*2;
    	@include font-size(0.9);
	}

	.gt-ie8 .primary-nav__menu > .menu-item a{
		@include font-size(1);
	}
	
	//menu item hover
    .primary-nav__menu .menu-item:hover{
		//background: $gray;
		a,a:visited{color: #fff;}
    }

	// the active page
    .primary-nav__menu > .current-menu-item a,
    .mobile-nav__menu > .current-menu-item a,
    .primary-nav__menu > .current-menu-ancestor a{
        color: #fff;
        font-weight: bold;
    }

	// DELETE BELOW IF IT IS A SINGLE TIER MENU


	// Dropdown Parent Style



		//sub menu
		.primary-nav__menu .parent > .sub-menu{
           	visibility: hidden;
           	background-color: #CECFD1;
           	position: absolute;
	        left: 0;
	        right: 0;
	        z-index: 10000;
	        list-style: none;
	        margin:0;
    	}

    	.primary-nav__menu .parent > .sub-menu .column .menu-heading a{
    		color: black;
    		font-weight: bold !important;
    	}

    	.lt-ie9 .primary-nav__menu .parent > .sub-menu .column .menu-heading a{
    		line-height: 14px;
    	}
		
		// hover state stuff
    	.primary-nav__menu .parent:hover > .sub-menu{
	        visibility: visible;
	        padding: 18px;
	    } 

			.primary-nav__menu .sub-menu .menu-item a{
			display: block;
			text-transform: none;
			padding-bottom: 6%;
			line-height: 10px;
			@include font-size(0.85);
			font-weight: normal;
			color: darken($gray,50%);

				&:active,&:visited{
					color: darken($gray,50%);
				}
				&:hover{ 
					margin:0;
					color: darken($gray, 80%);
				}
			}

			.primary-nav__menu .sub-menu .current-menu-item a,
		    .primary-nav__menu .sub-menu .current-menu-ancestor a{
		    	color: darken($gray,80%);
		        font-weight: bold;
		    }

// MOBILE NAVIGATION

.mobile-nav{
	display: none;
	background: #696C6F;
	@include box-shadow( inset -20px -20px 20px -20px darken(#2f3942, 15%) );
	@include at-breakpoint($tablet_up){
		*{ display: none;}
	}
}
	// main ul
	.mobile-nav__menu{
		margin: 0;
		list-style: none;
		@include font-size(1.2);
		font-family: $heading_font;
		text-transform: uppercase;
		
		.current_page_item{
			border-top: none;
		}	
	}

		//menu item
		.mobile-nav__menu .menu-item a{
			border-bottom: 1px solid #45535e;
		}

			.mobile-nav__menu .menu-item a, 
			.mobile-nav__menu .menu-item a:visited{
				display: block;
				color: $white;
				padding: $vertical_unit/2 $vertical_unit;
			}

			//parent style

			.mobile-nav__menu .parent > a{
				margin-right: 20px;
				background-image: url('images/dropdown.png');
				background-repeat: no-repeat;
				background-position: right;
			}

			.mobile-nav__menu .sub-menu{
				background: none;
				list-style: none;
				margin:0;
			}

				.mobile-nav__menu .sub-menu a{
					padding-left: 20px;
				}

				.mobile-nav__menu .sub-menu a:before{
					content: "- ";
				}