/* -- _PAGE.SCSS -- */

/*
 * Styles for Wordpress Pages
 * Includes styles for for specific page templates
 */

// Container for the main content area and sidebar
.container .wrapper {
    padding: 15px 15px 0 15px;
    @include at-breakpoint($tablet_up) {
        padding: 40px 40px 0 40px;
    }
    @include clearfix;
}

.page-content .inner {
    @include clearfix;
    //margin-bottom: $vertical_unit*2;
    background: $gray;
}

    .product-text .content h1{
        @include at-breakpoint($mobile){
            margin-top: $vertical_unit;
        }
    }

.category-parent-cover img{
    min-width: 100%;
}

.inner {
    @include clearfix;
    display: block;
}

.search-inner{
    padding: 20px;
}

.post h2 {
    a{ color: $white; }
    margin: 0;
    line-height: $vertical_unit;
}

.archives {
    li {
        a {
            color: $black;
        }
        padding-right: $vertical_unit;
        float: left;
        display: block;
        text-decoration: none;
        list-style-type: none;
    }
}

.content-contact {
    overflow: auto;
    padding: 20px;
}

.monthly-news {
    padding: 40px 20px;
}

.error .inner {
    padding: 20px;
}

.page-child,.page,.single-post {
    .content {
        margin-top: 7%;
    }
}

.region-vacancy-heading{
    padding: 20px 0 0 20px;
}

.date .news-post p{
    color: white;
    a{ color: white;}
}