/* -- _PRODUCT_PAGE.SCSS -- */

/*
 * Styles for the product page
 * Includes styles for for specific page templates
 */

// Container for the main content area and sidebar


	.product-text{
		position: relative;
		@include at-breakpoint($tablet){
        	height: 257px;
    	}
    	@include at-breakpoint($tablet_up){
    	    width: 50%;
    	    float: right;
    	}
    	@include at-breakpoint($desktop){
    	    height: 330px;
    	}
    	@include at-breakpoint($bigscreen){
    	    height: 380px;
    	}

		h3,h2{
			font-weight: bold;
			margin:0;
			@include font-size($paragraph_size);
		}
		@include at-breakpoint($xs-mobile){
			padding: $vertical_unit/2;
			h1{
				margin-top: 0;
			}
			@include clearfix();
		}
		@include at-breakpoint($mobile){
			padding: $vertical_unit;
			h1{
				margin-top: 0;
			}
			@include clearfix();
		}
	}

		.product-text .content{
			.read-more,li a{ color: $white; }
			color: $white;
			@include at-breakpoint($tablet){
				height: 180px;
			}
			@include at-breakpoint($tablet_up){
				width: 100%;	
				overflow: auto;
				padding: $vertical_unit/2 $vertical_unit $vertical_unit $vertical_unit;
			}
			@include at-breakpoint($desktop){
				height: 250px;

			}
			@include at-breakpoint($bigscreen){
				height: 300px;
			}
	 	}

	 	.product-text__pdf{
			display: block;
			line-height: $vertical_unit*2;
			margin: $vertical_unit $vertical_unit $vertical_unit/2 0;
			@include clearfix();
			float: right;
		}

			.lt-ie9 .product-text__pdf{
				width: 40%;
			}

			.gte-ie9 .product-text__pdf{
				@include at-breakpoint($xs-mobile){ float: left; width: 100%; }
				@include at-breakpoint($mobile){ float: none; width: 30%; }
				@include at-breakpoint($tablet){ width: 40%; }
	 			@include at-breakpoint($desktop){ width: 35%; }
	 			@include at-breakpoint($bigscreen){ width: 35%; }
			}

			.product-text__pdf a{
				@include font-size(0.85);
				color: $white; 
				&:hover{ color: $red; }
			}
				.product-text__pdf p{
					display: inline;
					text-align: right;
				}


			.product-text__pdf-icon{
				float: right;
				vertical-align: middle;
				margin-left: $vertical_unit;
			}

.products-wrap{
	width: 100%;
	h2{width: 50%; margin-bottom: 0; border: none; text-transform: uppercase; font-weight: bold; color: $white;}
	border-bottom: 2px solid $white;	

	.products__heading{
		float: left;
	}

	.slide-count{
		text-align: right;
		float: right;
		margin-top: $vertical_unit;
	}
	@include clearfix();
}

.products__heading{
	text-transform: uppercase; 
	margin: $vertical_unit 0;
	border-bottom: 2px solid darken($gray,10%);
	width: 100%;
}

.archive-text {
	padding: $vertical_unit;
}





