/* -- SIDEBAR.SCSS -- */

/*
 * All sidebar(s) style here
 */

.sidebar {
	
	//background: $lighter_gray;
	@include at-breakpoint($tablet){ @include span-columns(3 omega,12); }	
	@include at-breakpoint($desktop){ @include span-columns(3 omega,12); }
	
	h2{
		@extend h4;
		margin-bottom: 0;
	}

	ul {
		margin: 0;
		li{
			list-style: none;
			@include font-size(0.75);
		}
	}
}
