/* Main Product Image Slider */

// SLIDER CONTAINER

.gte-ie9 .product-slider-container{
    position: relative;
    width: 100% ;
    @include at-breakpoint($tablet_up){ 
       width: 50%; 
       float: left; 
       //overflow: hidden;
       //max-height: 380px;
    }
    @include clearfix();
}

    .product-slider-container{
        position: relative;
        width: 50%;
        float: left; 
        //overflow: hidden;
        @include clearfix();
    }

.slider { 
    //width: auto;
	position: relative;
	//overflow: hidden !important;
    background: $gray;
    //@include at-breakpoint($tablet){
    //    height: 257px;
    //}
    //@include at-breakpoint($tablet_up){
    //    width: 100%;
    //}
    //@include at-breakpoint($desktop){
    //    height: 330px;
    //}
    //@include at-breakpoint($bigscreen){
    //    height: 380px;
    //}
    

}
	.slider ul{ 
        //width: inherit;
		margin: 0; 
	}

		.slider ul li {
			list-style: none; 
            @include at-breakpoint($tablet_up){
                //max-height: 380px;
                //overflow: hidden;
            }
		}

            .slider ul li img{
                display:block;
                width: 100%;
            }

.flex-control-paging {
    @include at-breakpoint($xs-mobile){
        visibility: hidden;
    }
    @include at-breakpoint($mobile){
        visibility: hidden;
    }
    visibility: visible;
    position: absolute;
    left: 0;
    bottom: 10px;
    clear:both;
}
.flex-control-paging li{
    margin: 5px;
    background: #fff;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
}
.flex-control-paging li a{
    text-indent: -99999px;
    display:block;
    width: 10px;
    height: 10px;
    background: #fff;
}
.flex-control-paging li .flex-active {
    background: red;
}

.flexslider .slides > li:first-child {display: block; -webkit-backface-visibility: visible;}
.flexslider .slides > li:not(first-child) {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */


html[xmlns] .slides {display: block;}
/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
* html .slides {height: 1%;}