/* -- _TABLES.SCSS -- */

/*
 * All Font / Type styles go here
 */

table { 
	width: 100%;
	background: #fff;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	@include font-size(0.75); 

}

	thead{
		background: $blue;
		color: #fff;
	}

	tbody tr:nth-child(odd) {background: #f1f1f1} 
	tbody tr:nth-child(even) {background: #FFF}

	th,td{
		height: $vertical_unit*1;
		padding: 0 $base_unit;
	}

	th{
		font-weight: bold;
		height: $vertical_unit*2;
		font-family: $heading_font;
		@include font-size(1);
	}

	

