/* -- _TYPOGRAPHY.SCSS -- */

/*
 * All Font / Type styles go here
 */

a,
a:visited{
	color: $link;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
	color: $link_hover;
}

p,h1,h2,h3,h4,h4,h5,h6,ul,ol{
	line-height: $vertical_unit;
	margin-bottom: $vertical_unit/2;
	//background: pink;
}

h1,h2,h3,h4,h5,h6{
	font-family: $heading_font;
	font-weight: normal;
	color: $white;
	//background: pink;
	line-height:$vertical_unit*2;
}

p{
	font-weight: normal;
	@include font-size($paragraph_size);
}

h1{ 
	@include font-size($h1_size);
	line-height: $vertical_unit;
}

h2{ 
	@include font-size($h2_size);
	line-height:$vertical_unit;
}

h3{ 
	@include font-size($h3_size);
	line-height: 1rem;
}

h4{ 
	@include font-size($h4_size);
}


strong{ font-weight: bold; }

em{ font-style: italic; }

ul {	
	list-style-type: disc;
	@include font-size($paragraph_size);
	font-weight: normal;
	margin-left: 20px;
	
	li{	
		span{ } //give the span and li differnt colours if you like
	}
}

ol {
	list-style-type: decimal;
	@include font-size($paragraph_size);
	font-weight: normal;
	margin-left: 20px;
	
	li{
		span{  } //give the span and li differnt colours if you like
	}
}

blockquote {
	display:block;

	@include span-columns(3 omega,7);
	float:right;
	margin-left: gutter();
	margin-bottom:$vertical_unit;

	p{ 
		@include font-size(1.2); 
		text-align: right; 
		line-height:$vertical_unit*1;
		font-style: italic;
		padding: 0 $base_unit;
		margin: 0;
	}
}
