/* -- UI -- */

/*
 * forms, buttons, icons, breadcrumbs, pagination
 */

// Forms

fieldset{
	div{
		//margin-top: -0.24rem;
		@include clearfix();
	}

}

legend{
	@extend h2;
}

label {
	@include font-size(1);
	line-height: $vertical_unit;
	margin-bottom: $vertical_unit;

	display: block;
	@include span-columns(2,8);
}

input[type="text"], input[type="password"]{
	//border: 1px solid #ccc;
	-webkit-appearance: none;
	margin-bottom: $vertical_unit;
	float: left;
	display: block;
}

textarea{
	border: 1px solid #ccc;
	line-height: $vertical_unit;
	height: $vertical_unit*4;
	margin-bottom: $vertical_unit;
	display: block;
	@include span-columns(4,8);
}

.input[type="radio"]{
	float: left;
}

input[type="submit"]{
	font-family: $body_font;
	@include font-size(1);
	font-weight: bold;
	color: #fff;
	border: 0;
	float: left;
	font-family: $heading_font;

	&:visited{
		color: #fff;
	}
}

// Buttons
	
.button {
	background: darken($gray,40%);
	padding: 0 $vertical_unit;
	line-height: $vertical_unit*2;
	margin: 0 0 $vertical_unit 0;
	display: inline-block;
	@include font-size(1);
	font-family: $heading_font;
	font-weight: bold;
	color: #fff;

	&:hover{
		background: lighten($blue,3%);
		color: #fff;
	}

	&:visited{
		color: #fff;
	}
} 

// SEARCH FORM

.search-form{
	float: right;
	width: 280px;
	position: relative;
	background: darken($light_gray,5%);
	@include clearfix();
	height: 25px;
}

	.gt-ie8 .search-input{
		margin: 0;
		margin-bottom: 0 !important;
		margin-left: 10px;
		height: 25px;
	}

	.search-input{
		margin: 5px;
		background: none;
		border: none;
	}

	.search-button{
		width: 24px;
		height: 24px;
		margin-right: 10px;
		float: right !important;
		background: url("images/search-button.png");
		background-repeat: no-repeat;
		background-size: cover;
	}


/* basic scrollbar styling */
/* vertical scrollbar */
.mCSB_container{
	width:auto;
	margin-right:30px;
	overflow:hidden;
}
.mCSB_container.mCS_no_scrollbar{
	margin-right:0;
}
.mCS_disabled>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar,
.mCS_destroyed>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar{
	margin-right:30px;
}
.mCustomScrollBox>.mCSB_scrollTools{
	width:30px;
	height:100%;
	top:0;
	right:0;
}
.mCSB_scrollTools .mCSB_draggerContainer{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0; 
	height:auto;
}
.mCSB_scrollTools a+.mCSB_draggerContainer{
	margin:20px 0;
}
.mCSB_scrollTools .mCSB_draggerRail{
	width:2px;
	height:100%;
	margin:0 auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_scrollTools .mCSB_dragger{
	cursor:pointer;
	width:100%;
	height:50px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:4px;
	height:100%;
	margin:0 auto;
	text-align:center;
}

/* default scrollbar colors and backgrounds (default theme) */

.mCSB_scrollTools .mCSB_draggerRail, .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background: gray;
}


/* gForms */

.gform_fields li{
	list-style-type: none;
	margin: 0;
}

#gform_1 input[type="text"], #gform_1 textarea{
	@include border-radius(0);
	-webkit-appearance: searchfield;
	font-weight: bold;
	display: block;
	padding: 12px $vertical_unit/2;
	width: 100%;
	border: none;
	margin: 2px 0;
	background: lighten($gray,10%);
}

.gform_button{
	-webkit-appearance: none;
	@include border-radius(0);
	text-transform: uppercase;
	display: block;
	float: right !important;
	line-height: 12px;
	padding: 5px 15px !important;
	font-size: 12px !important;
}

.req{
	margin-top: -$vertical_unit*2;
	display: block;
	float: left !important;
}

.left_label{
	@include clearfix();
	margin-top: 5px;
	padding: 0 !important;
}