/*
Theme Name:     Flexbones Theme 4.0
Theme URI:      http://codebluegroup.co.uk/
Description:    A Responsive barebones theme to massively speed up development
Author:         Rory Ashford
Author URI:     http://roikles.com
Version:        4.0
License:		All work is the property of Rory Ashford
License URI:	n/a

CONTENTS

- Global
- Wordpress
- Typography
- Tables
- UI
- Mobile Header
- Page
- Navigation
- Header
- Footer
- Sidebar
- Blog
- Home

*/

// COMPASS HELPERS
/* Style Reset */
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/box-sizing";
@import "compass/typography/text/force-wrap"; 
@import "susy";

// $breakpoint-media-output: <boolean>;
$breakpoint-media-output: false;

// $breakpoint-ie-output: <boolean>;
$breakpoint-ie-output: false;

// $breakpoint-raw-output: <boolean>;
$breakpoint-raw-output: true;

// MIXINS

@import "__mixins.scss";

// CONFIG

@import "__config.scss";

// IE REM Override

$vertical_unit:		18px;

// VARS

@import "__colour.scss";

// GLOBAL STYLES
@import "_global.scss";
@import "_wordpress.scss";
@import "_typography.scss";
@import "_tables.scss";
@import "_ui.scss";
@import "_slider.scss";
@import "_carousel.scss";

// ELEMENT STYLES
@import "_mobile-header.scss";
@import "_page.scss";
@import "_product-page.scss";
@import "_navigation.scss";
@import "_header.scss";
@import "_footer.scss";
@import "_sidebar.scss";
@import "_blog.scss";
@import "_home.scss";
